.message-from-me{
   max-width: 50%;
    margin-left: auto;
    padding: 10px;
    border-radius:20px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 0px;
    background-color: #007bffd0;
    color: white;
    padding: 5px;
    padding-left: 10px;
    margin-right: 3px;
    margin-top:10px;
    margin-bottom: 10px;
}
.para{
    margin: 2px;
}
.head{
    margin: 2px;
}